<h1>ジャンル編集</h1>
<table>
 <tr>
　<th>ジャンル名</th>
　 <td>
　     <%= form_with model: @genre,url: admin_genre_path, method: :patch do |f| %>
　     <%= f.text_field :name %> <%= f.submit "変更を保存",class:"btn btn-success" %>
　     <% end %>
　</td>
 </tr>
</table>