<h1>商品一覧</h1>

<% @items.each do |item| %>
    <tr>
     <td>
         <%= item.id %>
     </td>
     <td><%= link_to admin_item_path(item.id) do %>
         <%= item.name %>
         <% end %>
     </td>
     <td>
         <%= item.price %>
     </td>

<% end %>